<?xml version="1.0"?>
<launch>
    <arg name="quad_name"/>
    <arg name="policy_path"/>
    <arg name="drone_only"/>

    <group ns="$(arg quad_name)">

        <include file="$(find agiros)/launch/mavros/volley_betaflight.launch"></include>

        <!-- controller -->
        <node name="agiros_pilot" pkg="agiros" type="agiros" output="screen" >
            <param name="agi_param_dir" value="$(find agilib)/params"/>
            <param name="ros_param_dir" value="$(find agiros)/parameters"/>
            <param name="pilot_config" value="volley_onboard_pilot_betaflight.yaml"/>
            <remap from="agiros_pilot/odometry_estimate" to="state_estimate"/>
            <remap from="agiros_pilot/pose_estimate" to="/mocap/$(arg quad_name)/pose"/>
            <remap from="agiros_pilot/guard_pose_estimate" to="/mocap/$(arg quad_name)/pose"/>
        </node>

        <include file="$(find policy_package)/launch/policy_node.launch">
            <arg name="policy_path" value="$(arg policy_path)"/>
            <arg name="drone_only" value="$(arg drone_only)"/>
        </include>

    </group>
</launch>
