<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="volley_drone"/>
    <arg name="use_joystick" default="False"/>
    <param name="/use_sim_time" value="True"/>
    <arg name="real_time_factor" value="1.0"/>

    <group ns="$(arg quad_name)">
        <node name="agiros_pilot" pkg="agiros" type="agisim_node" output="screen">
            <param name="agi_param_dir" value="$(find agilib)/params"/>
            <param name="ros_param_dir" value="$(find agiros)/parameters"/>
            <param name="simulator_config" value="simulation_volley.yaml"/>
            <param name="pilot_config" value="simple_sim_pilot_volley.yaml"/>
            <param name="real_time_factor" value="$(arg real_time_factor)"/>
        </node>
    </group>

    <!-- Visualization -->
    <node pkg="rviz" type="rviz" name="viz_face" args="-d $(find agiros)/resources/rviz/simulation.rviz"
          ns="$(arg quad_name)"/>
</launch>
